<suite name="Automation Test Suite" verbose="1">
    <test name="UI Tests">
        <classes>
            <class name="tests.ui.HomePageTest"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="tests.api.BrandTest"/>
            <class name="tests.api.ProductTest"/>
        </classes>
    </test>
</suite>
